{:queues 
 ({:reservedagents 0,
   :availableagents 0,
   :callsabandoned 0,
   :startdatetime #inst "2019-06-05T12:00:00.000000000-00:00",
   :callswaiting 0,
   :csqname "Queue8",
   :enddatetime #inst "2019-06-05T23:49:20.000000000-00:00",
   :convavgtalkduration "0:00:00",
   :totalcalls 0,
   :loggedinagents 0,
   :workingagents 0,
   :callsdequeued 0,
   :convavgwaitduration "0:00:00",
   :longesttalkduration 0,
   :convlongesttalkduration "0:00:00",
   :callshandeq 0M,
   :callsabdeq 0M,
   :talkingagents 0,
   :avgtalkduration 0,
   :callshandled 0,
   :convlongestwaitduration "0:00:00",
   :longestwaitduration 0,
   :unavailableagents 0,
   :avgwaitduration 0,
   :convoldestcontact "0:00:00",
   :oldestcontact 0}
  {:reservedagents 0,
   :availableagents 0,
   :callsabandoned 0,
   :startdatetime #inst "2019-06-05T12:00:00.000000000-00:00",
   :callswaiting 0,
   :csqname "Queue7",
   :enddatetime #inst "2019-06-05T23:49:20.000000000-00:00",
   :convavgtalkduration "0:00:00",
   :totalcalls 0,
   :loggedinagents 0,
   :workingagents 0,
   :callsdequeued 0,
   :convavgwaitduration "0:00:00",
   :longesttalkduration 0,
   :convlongesttalkduration "0:00:00",
   :callshandeq 0M,
   :callsabdeq 0M,
   :talkingagents 0,
   :avgtalkduration 0,
   :callshandled 0,
   :convlongestwaitduration "0:00:00",
   :longestwaitduration 0,
   :unavailableagents 0,
   :avgwaitduration 0,
   :convoldestcontact "0:00:00",
   :oldestcontact 0}
  {:reservedagents 0,
   :availableagents 0,
   :callsabandoned 0,
   :startdatetime #inst "2019-06-05T12:00:00.000000000-00:00",
   :callswaiting 0,
   :csqname "Queue6",
   :enddatetime #inst "2019-06-05T23:49:20.000000000-00:00",
   :convavgtalkduration "0:00:00",
   :totalcalls 0,
   :loggedinagents 0,
   :workingagents 0,
   :callsdequeued 0,
   :convavgwaitduration "0:00:00",
   :longesttalkduration 0,
   :convlongesttalkduration "0:00:00",
   :callshandeq 0M,
   :callsabdeq 0M,
   :talkingagents 0,
   :avgtalkduration 0,
   :callshandled 0,
   :convlongestwaitduration "0:00:00",
   :longestwaitduration 0,
   :unavailableagents 0,
   :avgwaitduration 0,
   :convoldestcontact "0:00:00",
   :oldestcontact 0}
  {:reservedagents 0,
   :availableagents 0,
   :callsabandoned 0,
   :startdatetime #inst "2019-06-05T12:00:00.000000000-00:00",
   :callswaiting 0,
   :csqname "Queue5",
   :enddatetime #inst "2019-06-05T23:49:20.000000000-00:00",
   :convavgtalkduration "0:00:00",
   :totalcalls 0,
   :loggedinagents 0,
   :workingagents 0,
   :callsdequeued 0,
   :convavgwaitduration "0:00:00",
   :longesttalkduration 0,
   :convlongesttalkduration "0:00:00",
   :callshandeq 0M,
   :callsabdeq 0M,
   :talkingagents 0,
   :avgtalkduration 0,
   :callshandled 0,
   :convlongestwaitduration "0:00:00",
   :longestwaitduration 0,
   :unavailableagents 0,
   :avgwaitduration 0,
   :convoldestcontact "0:00:00",
   :oldestcontact 0}
  {:reservedagents 0,
   :availableagents 0,
   :callsabandoned 0,
   :startdatetime #inst "2019-06-05T12:00:00.000000000-00:00",
   :callswaiting 0,
   :csqname "Queue4",
   :enddatetime #inst "2019-06-05T23:49:20.000000000-00:00",
   :convavgtalkduration "0:00:00",
   :totalcalls 0,
   :loggedinagents 1,
   :workingagents 0,
   :callsdequeued 0,
   :convavgwaitduration "0:00:00",
   :longesttalkduration 0,
   :convlongesttalkduration "0:00:00",
   :callshandeq 0M,
   :callsabdeq 0M,
   :talkingagents 0,
   :avgtalkduration 0,
   :callshandled 0,
   :convlongestwaitduration "0:00:00",
   :longestwaitduration 0,
   :unavailableagents 1,
   :avgwaitduration 0,
   :convoldestcontact "0:00:00",
   :oldestcontact 0}
  {:reservedagents 0,
   :availableagents 0,
   :callsabandoned 0,
   :startdatetime #inst "2019-06-05T12:00:00.000000000-00:00",
   :callswaiting 0,
   :csqname "Queue3",
   :enddatetime #inst "2019-06-05T23:49:20.000000000-00:00",
   :convavgtalkduration "0:00:00",
   :totalcalls 0,
   :loggedinagents 1,
   :workingagents 0,
   :callsdequeued 0,
   :convavgwaitduration "0:00:00",
   :longesttalkduration 0,
   :convlongesttalkduration "0:00:00",
   :callshandeq 0M,
   :callsabdeq 0M,
   :talkingagents 0,
   :avgtalkduration 0,
   :callshandled 0,
   :convlongestwaitduration "0:00:00",
   :longestwaitduration 0,
   :unavailableagents 1,
   :avgwaitduration 0,
   :convoldestcontact "0:00:00",
   :oldestcontact 0}
  {:reservedagents 0,
   :availableagents 1,
   :callsabandoned 0,
   :startdatetime #inst "2019-06-05T12:00:00.000000000-00:00",
   :callswaiting 0,
   :csqname "Sales",
   :enddatetime #inst "2019-06-05T23:49:20.000000000-00:00",
   :convavgtalkduration "0:00:00",
   :totalcalls 0,
   :loggedinagents 2,
   :workingagents 0,
   :callsdequeued 0,
   :convavgwaitduration "0:00:00",
   :longesttalkduration 0,
   :convlongesttalkduration "0:00:00",
   :callshandeq 0M,
   :callsabdeq 0M,
   :talkingagents 0,
   :avgtalkduration 0,
   :callshandled 0,
   :convlongestwaitduration "0:00:00",
   :longestwaitduration 0,
   :unavailableagents 1,
   :avgwaitduration 0,
   :convoldestcontact "0:00:00",
   :oldestcontact 0}
  {:reservedagents 0,
   :availableagents 1,
   :callsabandoned 0,
   :startdatetime #inst "2019-06-05T12:00:00.000000000-00:00",
   :callswaiting 0,
   :csqname "Dev",
   :enddatetime #inst "2019-06-05T23:49:20.000000000-00:00",
   :convavgtalkduration "0:00:00",
   :totalcalls 0,
   :loggedinagents 2,
   :workingagents 0,
   :callsdequeued 0,
   :convavgwaitduration "0:00:00",
   :longesttalkduration 0,
   :convlongesttalkduration "0:00:00",
   :callshandeq 0M,
   :callsabdeq 0M,
   :talkingagents 0,
   :avgtalkduration 0,
   :callshandled 0,
   :convlongestwaitduration "0:00:00",
   :longestwaitduration 0,
   :unavailableagents 1,
   :avgwaitduration 0,
   :convoldestcontact "0:00:00",
   :oldestcontact 0})}
